/* برای منوی پایین صفحه */

.bottom-nav {
    bottom: 0;
    height: 60px !important;
    color: #fff;
    background: rgb(235, 235, 235);
    padding: 0 5rem;
    z-index: 30 !important;
    right: 0;
}
.bottom-nav .change_color{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
    color: #000;
}
.bottom-nav span {
    transition: .4s;
}

.bottom-nav img {
    filter: invert(.3);
}

.active img{
    filter: invert(0);
}


@media (max-width: 767px) {
    .bottom-nav {
        display: flex !important;
    }
}

@media (max-width: 576px) {
    .bottom-nav{
        padding: 0 2rem;
    }
    .bottom-nav img {
        width :30px;
        height: 30px;
    }
    
    #about-link {
       /* display: none; */
    }
    
}

@media (max-width: 390px) {
    .bottom-nav {
        padding: 0 1.5rem;
    }
}