ul , li {
    list-style: none;
    padding: 0 ;
    margin: 0;
}
a {
    display: inline-block;
}

body {
    background: #000;
    height: 100% !important;
    width: 100vw !important;
    direction: rtl !important;
    padding-right: 75px;
    padding-top: 60px;
}
/* برای سفید کردن ایکون ها */
.icon {
    filter: invert(0);
    height: 100%;
}

/* سرچ */
.search {
    width: 100%;
}
.search-form {
    height: 50px;
    width: 70%;
    
}
.search-input {
    height: 100%;
    width: calc(100% - 66px);
    padding: 10px;
    font-size: 17px;
    outline: 0 !important;
    border: 0 !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 !important
}
#text {
    display: none
}
.search-btn {
    height: 100%;
    border: none !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    background: rgb(226, 226, 226);
}

/* فیلتر */
.filter {
    width: 70%;
    height: 200px;
    background: #fff;
    border-radius: 3px;
    margin-top: 1rem;
}
.category-btn {
    width: 80px;
    background: #aaa;
    padding: 10px !important;
    text-align: center;
}



/* utilities */
.dir-rtl {
    direction: rtl !important;
}